<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LuckyTrader_HTTP_Gamer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://gamer/" binding="basicHttpBinding"
                bindingConfiguration="LuckyTrader_HTTP_Gamer" contract="LTService.ILuckyTrader"
                name="LuckyTrader_HTTP_Gamer" />
        </client>
    </system.serviceModel>
</configuration>