<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MexBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MexBehavior" name="LuckyTraderLib.LuckyTraderService">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
                    name="LT_HTTP_SVC" contract="LuckyTraderLib.ILuckyTrader" />
                <endpoint address="/mex" binding="mexHttpBinding" bindingConfiguration=""
                    name="LT_HTTP_MEX" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>