<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MexBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MexBehavior" name="LuckyTraderLib.LuckyTraderService">
                <clear />
                <endpoint address="http://Gamer" binding="basicHttpBinding" name="LuckyTrader_HTTP_Gamer"
                    contract="LuckyTraderLib.ILuckyTrader" listenUriMode="Explicit">
                </endpoint>
                <endpoint address="http://Gamer/mex" binding="mexHttpBinding"
                    bindingConfiguration="" name="MEX_HTTP_Gamer" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                      <!-- add baseAddress="http://DT-Sarnoch1/" -->
                        <add baseAddress="http://Gamer/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
